@charset "UTF-8";
.bodyIndex {
  background-image: url(../images/wine-2853916_1920.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.logo-marca-index {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.carrito-container {
  position: relative;
}
.carrito-container .fa-shopping-cart {
  font-size: 24px;
  position: relative;
}
.carrito-container .carrito-container {
  position: relative;
}
.carrito-container #cantidadCarrito {
  position: absolute;
  top: 1px;
  left: 66%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 10;
  text-align: center;
  line-height: 10px;
}

.textoTachado {
  text-decoration: line-through;
  border-radius: 0;
}

.card {
  width: 160px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s ease;
  font-family: "Arial", sans-serif;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin: 5px 0;
}

.card-text {
  font-size: 0.9rem;
  color: #888;
  margin: 3px 0;
}

.divPrecio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.card-precio {
  font-size: 1.1rem;
  font-weight: bold;
  color: #d9534f;
}

.divInputButton {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cantidad-input {
  width: 35px;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  background-color: #f8f8f8;
  outline: none;
  transition: border-color 0.3s;
}

.cantidad-input:focus {
  border-color: #d9534f;
}

.card-modern-btn {
  background-color: #b02a2a; /* Rojo uva */
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.card-modern-btn:hover {
  background-color: #9b1e1e; /* Rojo más oscuro para el hover */
  transform: scale(1.1);
}

/* Estilos para cada producto en el carrito */
.carrito-sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* Fuera de la pantalla */
  width: 30rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 12px 0 0 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  transition: right 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  overflow-y: auto; /* Scroll para contenido largo */
}

/* Activo: dentro de la pantalla */
.carrito-sidebar.active {
  right: 0;
}

/* Encabezado del carrito */
.carrito-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.carrito-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#close-carrito {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #555;
  cursor: pointer;
}

#close-carrito:hover {
  color: #e03e3e;
}

/* Sección de productos */
.carrito-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Separación entre productos */
  overflow-y: auto;
  padding-right: 10px; /* Espacio para el scroll */
}

.producto-carrito {
  display: grid;
  grid-template-columns: 50px 1fr auto auto; /* Imagen, detalles, cantidad/precio, botón */
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.producto-carrito .imagen-carrito {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.div-nombre-tipo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.div-nombre-tipo .nombreParrafo {
  margin: 0;
  font-size: 1rem;
  color: #333;
}
.div-nombre-tipo p {
  margin: 0;
  font-size: 0.85rem;
  color: #666;
}

.cantidad-precio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.9px;
}
.cantidad-precio .cantidadParrafo {
  margin-bottom: 0px;
  font-size: 0.9rem;
  color: #333;
}
.cantidad-precio .precioTotalParrafo {
  margin-bottom: 0px;
  font-size: 0.9rem;
  color: #333;
}

/* Estilo específico para el botón de eliminar */
.eliminar-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.eliminar-btn:hover {
  background-color: #e03e3e;
  transform: scale(1.1);
}

.precioFinal {
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  margin-top: 10px;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
}

/* Footer del carrito */
.botonFinalizarContenedor {
  text-align: center;
  margin-top: 15px;
}

.checkout-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #43a047;
}

.boton-desactivado {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

@media (max-width: 576px) {
  .class-titulo-index {
    margin-left: 0px;
  }
  .containerForm {
    flex-direction: column; /* Cambia la dirección de los div a columna */
    align-items: center; /* Alinea los div al centro en la vista móvil */
    gap: 2px; /* Espacio entre los dos div */
    padding: 0px;
  }
  .box {
    width: 60%; /* Puedes ajustar el ancho */
    height: 350px; /* Altura de los div */
  }
}
@media (max-width: 992px) {
  .enlaces-index {
    margin-left: 1rem;
    padding: 0px;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .enlaces-index {
    margin-left: 2rem;
    padding: 0px;
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  .navbar-index {
    display: flex;
  }
  .navbar-index .logo-marca-index {
    margin-left: 4rem;
    margin-right: 1.3rem;
  }
  .navbar-index .enlaces-index {
    margin-left: 7.5rem;
    padding: 0px;
    justify-content: start;
  }
}
@media (min-width: 1400px) {
  .navbar-index {
    display: flex;
  }
  .navbar-index .logo-marca-index {
    margin-left: 10px;
    margin-right: 0rem;
  }
  .navbar-index h1 {
    margin-left: 20px;
    margin-right: 0px;
    font-size: 40px !important;
  }
  .navbar-index .enlaces-index {
    margin-left: 15rem;
    padding: 0px;
    justify-content: start;
  }
  .card-body {
    text-align: center;
  }
  .card-body p {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
